*{
}
html{

}
body{
    background-color:mintcream;
    width: 80%;
    margin: 0 auto;
}
.header{
    height:100px;
    background-color:skyblue;
}
.bar{
    height:20px;
    background-color:darkgray;
}

.middle{
    border-right:solid 4px lightgray;
    overflow:auto;
}

.side{
    width:318px;
    float:left;
    background-color:lightgray;
    padding: 20px;
}

.content{
    margin-left:320px;
    background-color:white;
}

.footer{
    clear:both;
    height:20px;
    background-color:lightgray;
    text-align:center;
}

.menu{
    background-color:mintcream;
}

.curtain{
   width:200px;
   height:200px;
}
.cal{
    width:240px;
    margin: 40px 0;
}