@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smallwood Acadamy</h1>
    <p class="lead">Smallwood Academy is an ASP.NET MVC application designed for mimicking a simple student management case. There are two types of entities in Smallwood Academy: student and course. The users are able to add, update or remove student and course using this application. Each student can be enrolled in one course.</p>
</div>

<div class="row">
    <div class="col-lg-6">
        <h2>Student Management</h2>
        <p>The application enables users to view and manipulate student records through web pages. Users can create new student record, view and update existing records as well as remove obsolete ones.  When one student is registered into the system, he/she must be enrolled into once course. The date of enrollment is also captured. The application also provide search function to help user browser large amount of records.</p>
    </div>
    <div class="col-lg-6">
        <h2>Course Management</h2>
        <p>This module is used to manage courses the school can provide to students. School staff, users in this case, will be able to maintain course metadata through this application. Just as student management, this module allow users to create, update and delete course records. Search function is also provided.</p>
    </div>
</div>